/* Footer */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Sofia+Sans+Condensed:ital,wght@0,400;0,500;1,400&display=swap");

:root {
    --var-color-primario:#1D4E89 ;
    --var-color-secundario: #00b2ca2f;
    --var-color-terciario:#3FC1C0 ;
    --var-color-titulos: ;
    --var-color-resaltado: ;
    --var-color-tranparente: ;
    --var-color-body: ;
    font-family: "Sofia Sans Condensed","roboto", sans-serif;
}

.text-mochileando{
  font-family:"Dancing Script", strong;
}

.Footer {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "left_f center_f rigth_f"
      "left_f center_f rigth_f"
      "left_f center_f rigth_f";
    grid-area: Footer;
    background-color: var(--var-color-primario);
    color: white;
}

.left_f { grid-area: left_f;
    border-right: solid 1px #bbb;
    padding: 0.5em 0.1em 0.5em 1em;
    box-sizing: border-box;
}
  
.center_f { grid-area: center_f;
    border-right: solid 1px #bbb;
    padding: 0.5em 0.1em 0.5em 1em;
    box-sizing: border-box;
}
  
.rigth_f { grid-area: rigth_f;
    padding: 0.5em 0.1em 0.5em 1em;
}
 
.text-presentation{
      margin: 2px;
}

.ta-l {
    text-align: left;
}
  
.footer-col a {
    display: block;
    margin: 0.3em 0;
}

.footer-logo-container{
  display: flex;
  align-items: center;
}

.icons-styles{
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  margin: 5px;
}

.our-site{
  text-decoration: none;
  color: white;
}



@media screen and (max-width:480px){
    .Footer {  display: grid;
      grid-template-columns:  1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "center_f "
        "center_f"
        "center_f";
      grid-area: Footer;
      background-color: var(--var-color-primario);
    }
    
    .left_f { grid-area: left_f;
              display: none;  
    }
    
    .center_f { grid-area: center_f;
  
    }
    
    .rigth_f { grid-area: rigth_f;
              display: none;
    }
}